<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
            http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <servlet>
        <servlet-name>testServlet</servlet-name>
        <servlet-class>ru.concerteza.springtomcat.etomcat6.components.TestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>testServlet</servlet-name>
        <url-pattern>/etomcat_test</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>ru.concerteza.springtomcat.etomcat6.components.TestListener</listener-class>
    </listener>

    <filter>
        <filter-name>testFilter</filter-name>
        <filter-class>ru.concerteza.springtomcat.etomcat6.components.TestFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>testFilter</filter-name>
        <url-pattern>/etomcat_test</url-pattern>
    </filter-mapping>
</web-app>